body {
	box-sizing: border-box;
	font-family: 'Balsamiq Sans';
	padding: 0px;
	background-image: url("../img/bg.png");
    background-repeat: repeat;
}
h1 {
	margin: 1%;
}

.main {
	padding: 0px;
	box-shadow: 0px 0px 6px 0px black;
	margin: 3% auto;
	background-color: #EDF6F9;
}

.nav-item {
	font-size: 1.2em;
	text-align: center;
}

@media only screen and (min-width: 992px){
	.nav-item {
		width: 180px;
	}
}

.jumbotron{
	background-color: #006D77;
	display: table;
	width: 100%;
	max-height: 250px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.carousel {
	display: table-cell;
	margin: 0;
	width: 100%;
}

.carousel-img {
	height: auto;
    width: 100%;
}

#logo {
	position: relative;
	margin: auto;
	width: 22%;
	margin-top: -17%;
}

@media only screen and (max-width: 768px){
	#logo {
		margin-top: -20%;
	}
}

.logo-img {
	width: 100%;
	margin-bottom: 10%;
}

.general {
	padding-top: 1%;
	padding-bottom: 1%;

	width: 90%;
	border: 8px dotted #83C5BE;
	margin: 0 auto;
	margin-bottom: 40px;
}

.general>.row {
	display: flex;
	align-items: center;
}

.general-info {
	text-align: right;
	padding: 20px;
	right: -2%;
}

.general-img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

@media only screen and (max-width: 992px){
	.general-info {
		text-align: justify;
		right: 0;
	}
}

.pink-line {
	position: absolute;
	width: 100%;
	height: 30%;
	margin: 0px;
	padding: 0px;
	left: 0px;
	background-color: #FFDDD2;
}

/****************************************************************************************************************************************/

#gallery {
	border: 10px double #FFDDD2;
	margin-bottom: 40px;
}

.gallery-img-container {
	margin: 0px;
	padding: 0px;
}

.gallery-img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.gallery-img:hover {
	display: block;
	width: 96%;
	margin: auto;
	box-shadow: 4px 4px 5px black;
}

@media only screen and (max-width: 767px) {
	.gallery-img {
		display: block;
		width: 85%;
		margin: 0px auto;
	}

	.gallery-img:hover {
		display: block;
		width: 80%;
		margin: auto;
		box-shadow: 4px 4px 5px black;
	}
}

.color5-line {
	position: absolute;
	width: 100%;
	height: 20%;
	margin: 0px;
	padding: 0px;
	left: 0px;
	background-color: #E29578;
	box-shadow: 0px 0px 6px 0px black;

}

#need_help {
	display: flex;
    align-items:center;
    background-color: #006D77;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-title {
	text-align: center;
}

.card-text {
	text-align: justify;
}

.card-img-top {
	margin: 0 auto;
	width: 90%;
	height: auto;
	border: none;
	border-radius: 0px;
}

.card {
	padding: 0px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 0px;
	box-shadow: 4px 4px 5px;
	height: 450px;
	width: 98%;
	background-color: #FFDDD2;
}

#find {
	margin-bottom: 40px;
	border: 10px dotted #E29578;

}

@media only screen and (min-width: 768px){
	#find {
		width: 94%;
		background-color: #FFDDD2;

	}
}

iframe, .outside {
	width: 100%;
	display: block;
	padding: 0px;
	border: none;
	margin: 5px auto;
	height: 300px;
}

@media only screen and (max-width: 767px) {
	iframe, .outside {
		height: auto;
	}

	h1 {
		font-size: 1.2em;
	}

	p {
	}

	.card-title {
		text-align: center;
	}

	.card-text {
		text-align: justify;
		font-size: 0.9em;

	}

	.card {
		height: auto;
	}

	.main {
		margin: 0 auto;
		padding: 0px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main {
		margin: 3% auto;
	}
}

#consultants {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 96%;
	border: 10px double #83C5BE;
}

.horizontal-card {
	width: 100%;
	display: flex;
	align-items: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: auto;
}

.horizontal-card-img {
	width: 45%;
	border: 8px dotted #83C5BE;
	margin: 0px;
}

.horizontal-card-text {
	width: 55%;
	margin: 0px;
	padding-left: 2%;
} 

.horizontal-card-title {
	width: 100%;
}

.horizontal-card-descr {
	width: 100%;
	text-align: justify;

}

@media only screen and (max-width: 767px) {
	.horizontal-card-img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

	.horizontal-card {
		display: block;
		margin: 0px;
		margin-top: 10px;
		margin-bottom: 20px;

	}

	.horizontal-card-text {
		width: 90%;
		margin: 0px auto;

	} 

	.horizontal-card-title {
		font-size: 1.2em;
		margin: 3px auto;
		text-align: center;
	}

	.horizontal-card-descr {
		font-size: 0.9em;
		margin: 0 auto;
		text-align: justify;
	}

}

footer {
	background-color: #83C5BE;
	padding: 0px;
	margin-top: 40px;
}

.footer-row {
	display: flex;
	align-items: center;
}

.footer-item {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px;
	text-align: justify;
}

.icon {
	width: 15px;
	height: 15px;
	margin: 1%;
}