body {
	box-sizing: border-box;
	font-size: 1.2em;
	font-family: 'Balsamiq Sans';
	padding: 0px;
}

.nav-item {
	text-align: center;
}

@media only screen and (min-width: 992px){
	.nav-item {
		width: 180px;
	}
}

.jumbotron{
	background-color: #006D77;
	display: table;
	width: 100%;
	max-height: 250px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.carousel {
	display: table-cell;
	margin: 0;
	width: 100%;
}

.carousel-img {
	height: auto;
    width: 100%;
}

#logo {
	position: relative;
	margin: auto;
	width: 22%;
	margin-top: -15%;
}

@media only screen and (max-width: 768px){
	#logo {
		margin-top: -20%;
	}
}

.logo-img {
	width: 100%;
	margin-bottom: 10%;
}

.general {
	padding-top: 1%;
	padding-bottom: 1%;

	width: 90%;
	border: 8px dotted #83C5BE;
	margin: 0 auto;
	margin-bottom: 40px;
}

.general>.row {
	display: flex;
	align-items: center;
}

.general-info {
	text-align: right;
	padding: 20px;
}

.general-img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

@media only screen and (max-width: 992px){
	.general-info {
		text-align: justify;
	}
}

.pink-line {
	position: absolute;
	width: 100%;
	height: 30%;
	margin: 0px;
	padding: 0px;
	left: 0px;
	background-color: #FFDDD2;
}

/****************************************************************************************************************************************/

#gallery {
	border: 10px double #FFDDD2;
	margin-bottom: 40px;
}

.gallery-img-container {
	margin: 0px;
	padding: 0px;
}

.gallery-img {
	width: 100%;
	margin: 0px;
}

.gallery-img:hover {
	display: block;
	width: 96%;
	margin: auto;
	box-shadow: 4px 4px 5px black;
}

.color5-line {
	position: absolute;
	width: 100%;
	height: 20%;
	margin: 0px;
	padding: 0px;
	left: 0px;
	background-color: #E29578;
	box-shadow: 0px 0px 6px 0px black;

}

#need_help {
	display: flex;
    align-items:center;
    background-color: #006D77;
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-title {
	text-align: center;
}

.card-text {
	text-align: justify;
}

.card-img-top {
	margin: 0 auto;
	width: 90%;
	height: auto;
	border: none;
	border-radius: 0px;
}

.card {
	padding: 0px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 0px;
	box-shadow: 4px 4px 5px;
	height: auto;
	width: 98%;
	background-color: #FFDDD2;
}

#find {
	margin-bottom: 40px;
}

iframe, .outside {
	width: 100%;
	display: block;
	padding: 0px;
	border: none;
	margin: 5px auto;
	height: 300px;
}

#consultants {
	width: 96%;
}

.horizontal-card {
	width: 100%;
	display: flex;
	align-items: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: auto;
}

.horizontal-card-img {
	width: 45%;
	border: 8px dotted #83C5BE;
	margin: 0px;
}

.horizontal-card-text {
	width: 55%;
	margin: 0px;
	padding-left: 2%;
} 

.horizontal-card-title {
	width: 100%;
	font-size: 0.9em;
}

.horizontal-card-descr {
	width: 100%;
	text-align: justify;
	font-size: 0.9em;

}

@media only screen and (max-width: 992px) {
	.horizontal-card-img {
		width: 25%;
	}

	.horizontal-card-text {
		width: 75%;
		margin: 0px;
		padding-left: 10px;

	} 
}

footer {
	background-color: #83C5BE;
	padding: 0px;
	margin-top: 40px;
}

.footer-row {
	display: flex;
	align-items: center;
}

.footer-item {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px;
	text-align: justify;
}

.icon {
	width: 15px;
	height: 15px;
	margin: 1%;
}